:root{
    --titulos: #3d4649;
    --secundario: #adbcc1;
    --coral_intenso: #e72553;
    --colar: #f29799;
    --fondo_cajas: #6e7c82;
}

body{
    background-color: whitesmoke;
}

.textos {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-radius: 18px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1.titulos{
    background-color: var(--titulos);
    color: whitesmoke;
}

h5.descripcion {
    background-color: var(--secundario);
    padding-bottom: 1.5rem;
}

.tarjeta-resultado{
    min-height: 300px;
    padding: 0;
    margin: 0;
}

.card-body{
    background-color: var(--fondo_cajas);
}

.card-body .card-title{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    margin:auto;
    margin-bottom: 2em;
    background-color: var(--titulos);
    color:whitesmoke;
    border-radius: 5px;
}

.card-body .output{
    margin: auto;
    padding: auto;
    font-size: 2rem;
    background-color: var(--colar);
    border:none;
    border-radius: 5px;
}

form{
    padding: 1rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
    margin: auto;
    background-color: var(--secundario);
    border-radius: 15px;
}

#inputForm .form-control {
    font-size: 1.5rem; 
}

#inputForm .btn {
    font-size: 1rem;
    background-color: var(--coral_intenso);
    border: none;
}

#inputForm .input-group-text{
    font-size: 1.5rem;
}

@media (max-width: 768px){
    .card-body .card-title{
        font-size: 2.5vh;
    }

    .tarjeta-resultado{
        min-height: 100px;
    }
    .card-body .output{
        margin: auto;
        padding: auto;
        font-size: 2vh;
    }

}

@media (max-width:1052){
    #inputForm .form-control {
        font-size: 0.75rem; 
    }
    
    #inputForm .btn {
        font-size: 0.5rem; 
    }
    
    #inputForm .input-group-text{
        font-size: 0.75rem;
    }
}